[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	dft = difftool

[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"

[user]
	email = kai66673@mail.ru
	name = Kudryavtsev Alexander
